<h4>{{sentence-case model.name}}</h4>
<p>Damage class: {{sentence-case model.damage_class.name}}</p>
<p>Target: {{sentence-case model.target.name}}</p>
<p>Type: {{#link-to 'types' model.type.name}}{{sentence-case model.type.name}}{{/link-to}}</p>
<p>Power: {{model.power}}</p>
<p>Accuracy: {{model.accuracy}}</p>
<p>PP: {{model.pp}}</p>
<p>Priority: {{model.priority}}</p>
