<h3>{{sentence-case model.name}}</h3>
<p>Damage class: {{sentence-case model.damage_class.name}}</p>
<p>Target: {{sentence-case model.target.name}}</p>
<p>Type: {{#link-to 'types' model.type.name}}{{sentence-case model.type.name}}{{/link-to}}</p>
{{#if model.power}}<p>Power: {{model.power}}</p>{{/if}}
{{#if model.accuracy}}<p>Accuracy: {{model.accuracy}}</p>{{/if}}
<p>PP: {{model.pp}}</p>
<p>Priority: {{model.priority}}</p>
{{#if model.effect_entries.length}}
<p>Effects:
  <ul>
    {{#each model.effect_entries as |entry|}}
      <li>{{entry.effect}}</li>
    {{/each}}
  </ul>
</p>
{{/if}}
<p>Introduced in:
  {{#link-to 'generation' model.generation.name}}
    {{format-gen model.generation.name}}
  {{/link-to}}
</p>
