<h4>
  #{{zero-pad model.id 3}}: {{sentence-case model.name}}
</h4>
<p>
  Type:
  {{#each (poke-type model.types) as |type|}}
    {{#link-to 'types' type}}{{sentence-case type}}{{/link-to}}
  {{/each}}
</p>
<p>Species:
  {{#link-to 'species' model.species.name}}
    {{sentence-case model.species.name}}
  {{/link-to}}
</p>
<img src={{model.sprites.front_default}}>
<p>Height: {{height model.height}}</p>
<p>Weight: {{weight model.weight}}</p>
<p>Base experience: {{model.base_experience}}</p>

<h4>Base Stats</h4>
<table class="table _stat-table">
  <tbody>
      {{#each model.stats as |statInfo|}}
        <tr>
          <th scope="row'">{{sentence-case statInfo.stat.name}}</th>
          <td>{{statInfo.base_stat}}</td>
        </tr>
      {{/each}}
  </tbody>
</table>
<h4>Base Stat Total</h4>
{{sum-stats model.stats}}

<h4>Moves</h4>
{{#each model.moves as |moveInfo|}}
  <p>
    {{#link-to 'moves' moveInfo.move.name}}
      {{sentence-case moveInfo.move.name}}
    {{/link-to}}
  </p>
{{/each}}
