<h3>
  {{sentence-case model.name}} <small>(Species)</small>
</h3>

<h4>Forms:</h4>
<div class="list-group">
  {{#each model.varieties as |variety|}}
    {{#link-to 'pokemon' variety.pokemon.name class=(if variety.is_default 'list-group-item list-group-item-info' 'list-group-item')}}
      {{sentence-case variety.pokemon.name}}
    {{/link-to}}
  {{/each}}
</div>

{{#if model.evolves_from_species}}
  <p>Evolves from:
    {{#link-to 'species' model.evolves_from_species.name}}
      {{sentence-case model.evolves_from_species.name}}
    {{/link-to}}
  </p>
{{/if}}

<p>Base happiness: {{model.base_happiness}}</p>
<p>Capture rate: {{model.capture_rate}}</p>
<p>Growth rate: {{sentence-case model.growth_rate.name}}</p>
<p>Habitat: {{#if model.habitat}}{{#link-to 'habitat' model.habitat.name}}{{sentence-case model.habitat.name}}{{/link-to}}{{else}}&mdash;{{/if}}
</p>
<p>Color: {{#link-to 'color' model.color.name}}{{sentence-case model.color.name}}{{/link-to}}</p>

<p>Egg groups:
  <ul>
    {{#each model.egg_groups as |group|}}
      <li>{{sentence-case group.name}}</li>
    {{/each}}
  </ul>
</p>

<p>Introduced in:
  {{#link-to 'generation' model.generation.name}}
    {{format-gen model.generation.name}}
  {{/link-to}}
</p>

<p>Flavor text:
  <ul>
    {{#each model.flavor_text_entries as |entry|}}
      <li>
        {{sentence-case entry.flavor_text}} ({{entry.version.name}} &mdash; {{entry.language.name}})
      </li>
    {{/each}}
  </ul>
</p>
